### Generating 6 months stock price from NSE

In [1]:
pip install nsepy

Collecting nsepyNote: you may need to restart the kernel to use updated packages.
  Downloading nsepy-0.8.tar.gz (33 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\sanyo\anaconda3\lib\site-packages (from nsepy) (4.9.3)
Requirement already satisfied: requests in c:\users\sanyo\anaconda3\lib\site-packages (from nsepy) (2.25.1)
Requirement already satisfied: numpy in c:\users\sanyo\anaconda3\lib\site-packages (from nsepy) (1.20.1)
Requirement already satisfied: pandas in c:\users\sanyo\anaconda3\lib\site-packages (from nsepy) (1.2.4)
Requirement already satisfied: six in c:\users\sanyo\anaconda3\lib\site-packages (from nsepy) (1.15.0)
Requirement already satisfied: click in c:\users\sanyo\anaconda3\lib\site-packages (from nsepy) (7.1.2)
Requirement already satisfied: lxml in c:\users\sanyo\anaconda3\lib\site-packages (from nsepy) (4.6.3)

Requirement already satisfied: soupsieve>1.2 in c:\users\sanyo\anaconda3\lib\site-packages (from beautifulsoup4->nsepy) (2.2.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\sanyo\anaconda3\lib\site-packages (from pandas->nsepy) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sanyo\anaconda3\lib\site-packages (from pandas->nsepy) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sanyo\anaconda3\lib\site-packages (from requests->nsepy) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\sanyo\anaconda3\lib\site-packages (from requests->nsepy) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sanyo\anaconda3\lib\site-packages (from requests->nsepy) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sanyo\anaconda3\lib\site-packages (from requests->nsepy) (2.10)
Building wheels for collected packages: nsepy
  Building wheel for nsepy (setup.py): started
  Building wheel for nsepy (setup.py): finished with status 'done'
  Created wheel for nsepy: filename=nsepy-0.8-py3-none-any.whl size=36083 sha256=6dc125560ca7e25e07396d72c011b64fcb054882bc743ccf37a23f2d25225a9d
  Stored in directory: c:\users\sanyo\appdata\local\pip\cache\wheels\b9\2c\cb\d74199e422a1dbc20297d10cfff9c54d03e0b5c6694d49ccdd
Successfully built nsepy
Installing collected packages: nsepy
Successfully installed nsepy-0.8

In [2]:
from nsepy import get_history
from datetime import date

In [3]:
import pandas as pd
import numpy as np

In [4]:
DRL = get_history(symbol="DRREDDY", start=date(2021,7,1), end=date(2022,1,9))
DRL

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2021-07-01,DRREDDY,EQ,5423.05,5426.00,5580.00,5412.40,5572.00,5558.50,5501.31,831550,4.574613e+14,60582,278076,0.3344
2021-07-02,DRREDDY,EQ,5558.50,5580.00,5600.00,5511.50,5560.05,5575.70,5557.01,571738,3.177154e+14,46986,144162,0.2521
2021-07-05,DRREDDY,EQ,5575.70,5576.20,5596.00,5531.95,5541.20,5537.90,5558.97,297341,1.652911e+14,27808,107351,0.3610
2021-07-06,DRREDDY,EQ,5537.90,5539.80,5561.20,5514.00,5544.30,5539.45,5541.33,178108,9.869557e+13,18954,53559,0.3007
2021-07-07,DRREDDY,EQ,5539.45,5529.00,5614.60,5515.05,5553.90,5562.10,5574.19,538508,3.001748e+14,45059,215698,0.4005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-03,DRREDDY,EQ,4907.00,4907.00,4930.30,4847.70,4857.00,4853.15,4872.80,292601,1.425787e+14,31353,118577,0.4053
2022-01-04,DRREDDY,EQ,4853.15,4861.00,4892.90,4825.00,4839.00,4835.45,4848.58,253438,1.228814e+14,40265,125218,0.4941
2022-01-05,DRREDDY,EQ,4835.45,4880.00,4904.60,4757.05,4790.00,4790.40,4819.50,536802,2.587118e+14,51862,183129,0.3411
2022-01-06,DRREDDY,EQ,4790.40,4790.40,4836.05,4728.30,4733.95,4739.45,4764.57,381643,1.818363e+14,35851,126192,0.3307
2022-01-07,DRREDDY,EQ,4739.45,4769.45,4769.45,4690.00,4706.50,4708.40,4721.36,267123,1.261185e+14,34280,92235,0.3453

### Merging Stock prices with Polarity

In [5]:
DRL_revised = DRL.drop(["Symbol","Series","Prev Close","Last","Turnover","Trades","Deliverable Volume","%Deliverble"], axis = 1)

In [6]:
DRL_revised

               Open     High      Low    Close     VWAP  Volume
Date
2021-07-01  5426.00  5580.00  5412.40  5558.50  5501.31  831550
2021-07-02  5580.00  5600.00  5511.50  5575.70  5557.01  571738
2021-07-05  5576.20  5596.00  5531.95  5537.90  5558.97  297341
2021-07-06  5539.80  5561.20  5514.00  5539.45  5541.33  178108
2021-07-07  5529.00  5614.60  5515.05  5562.10  5574.19  538508
...             ...      ...      ...      ...      ...     ...
2022-01-03  4907.00  4930.30  4847.70  4853.15  4872.80  292601
2022-01-04  4861.00  4892.90  4825.00  4835.45  4848.58  253438
2022-01-05  4880.00  4904.60  4757.05  4790.40  4819.50  536802
2022-01-06  4790.40  4836.05  4728.30  4739.45  4764.57  381643
2022-01-07  4769.45  4769.45  4690.00  4708.40  4721.36  267123

[131 rows x 6 columns]

In [8]:
Polarity = pd.read_excel("C:/Users/sanyo/OneDrive - Indian School of Business/Term2/Foudation_Project/FinalOutput.xlsx")

In [9]:
Polarity

          Date  Count  Polarity
0   2021-07-12      2  0.000000
1   2021-07-13      3  1.000000
2   2021-07-15      3  1.000000
3   2021-07-16      1 -1.000000
4   2021-07-18      1  1.000000
..         ...    ...       ...
160 2022-01-05     10 -0.326203
161 2022-01-06      2  1.000000
162 2022-01-07      1  0.000000
163 2022-01-08      1  0.486957
164 2022-01-10      7 -0.044776

[165 rows x 3 columns]

In [10]:
Polarity.set_index(["Date"],inplace=True)

In [11]:
Polarity

            Count  Polarity
Date
2021-07-12      2  0.000000
2021-07-13      3  1.000000
2021-07-15      3  1.000000
2021-07-16      1 -1.000000
2021-07-18      1  1.000000
...           ...       ...
2022-01-05     10 -0.326203
2022-01-06      2  1.000000
2022-01-07      1  0.000000
2022-01-08      1  0.486957
2022-01-10      7 -0.044776

[165 rows x 2 columns]

In [12]:
merged_data = pd.merge(DRL_revised,Polarity,left_index=True,right_index=True)

In [13]:
merged_data

,Open,High,Low,Close,VWAP,Volume,Count,Polarity
Date,,,,,,,,
2021-07-12,5499.90,5500.00,5440.00,5494.30,5472.54,182659,2,0.000000
2021-07-13,5494.30,5534.00,5429.00,5437.10,5464.94,370482,3,1.000000
2021-07-15,5410.00,5438.50,5371.20,5393.65,5398.76,303682,3,1.000000
2021-07-16,5393.00,5450.00,5383.85,5406.55,5407.89,437904,1,-1.000000
2021-07-19,5398.00,5445.00,5382.10,5419.35,5414.77,240858,2,1.000000
...,...,...,...,...,...,...,...,...
2022-01-03,4907.00,4930.30,4847.70,4853.15,4872.80,292601,13,-0.172414
2022-01-04,4861.00,4892.90,4825.00,4835.45,4848.58,253438,6,0.000000
2022-01-05,4880.00,4904.60,4757.05,4790.40,4819.50,536802,10,-0.326203
2022-01-06,4790.40,4836.05,4728.30,4739.45,4764.57,381643,2,1.000000
2022-01-07,4769.45,4769.45,4690.00,4708.40,4721.36,267123,1,0.000000

### Predicting trend with Random Forest Classifier Model

In [14]:
# Dataframe with VWAP,  Volume, Polarity, Twitter_volume
DRL_df = merged_data[["VWAP", "Volume", "Polarity", "Count"]]
DRL_df.head()

               VWAP  Volume  Polarity  Count
Date
2021-07-12  5472.54  182659       0.0      2
2021-07-13  5464.94  370482       1.0      3
2021-07-15  5398.76  303682       1.0      3
2021-07-16  5407.89  437904      -1.0      1
2021-07-19  5414.77  240858       1.0      2

In [15]:
# Sorting Polarity into Positive, Negative and Neutral sentiment

sentiment = [] 
for score in DRL_df["Polarity"]:
    if score >= 0.05 :
          sentiment.append("Positive") 
    elif score <= - 0.05 : 
          sentiment.append("Negative")        
    else : 
        sentiment.append("Neutral")   

DRL_df["Sentiment"] = sentiment
DRL_df.head()

<ipython-input-15-571899dcd6c4>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DRL_df["Sentiment"] = sentiment

               VWAP  Volume  Polarity  Count Sentiment
Date
2021-07-12  5472.54  182659       0.0      2   Neutral
2021-07-13  5464.94  370482       1.0      3  Positive
2021-07-15  5398.76  303682       1.0      3  Positive
2021-07-16  5407.89  437904      -1.0      1  Negative
2021-07-19  5414.77  240858       1.0      2  Positive

In [16]:
# Sentiment Count
DRL_df["Sentiment"].value_counts()

Positive    81
Negative    32
Neutral     21
Name: Sentiment, dtype: int64

In [17]:
#Stock Trend based on difference between current price to previous day price and coverting them to '0' as fall and '1' as rise in stock price
DRL_df["Price Diff"] = DRL_df["VWAP"].diff()
DRL_df.dropna(inplace = True)
DRL_df["Trend"] = np.where(DRL_df['Price Diff'] > 0 , 1, 0)

DRL_df.head()

<ipython-input-17-9e8c49f1187e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DRL_df["Price Diff"] = DRL_df["VWAP"].diff()
<ipython-input-17-9e8c49f1187e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DRL_df.dropna(inplace = True)
<ipython-input-17-9e8c49f1187e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DRL_df["Trend"] = np.where(DRL_df['Price Diff'] > 0 , 1, 0)

               VWAP  Volume  Polarity  Count Sentiment  Price Diff  Trend
Date
2021-07-13  5464.94  370482       1.0      3  Positive       -7.60      0
2021-07-15  5398.76  303682       1.0      3  Positive      -66.18      0
2021-07-16  5407.89  437904      -1.0      1  Negative        9.13      1
2021-07-19  5414.77  240858       1.0      2  Positive        6.88      1
2021-07-20  5363.11  264428       1.0      4  Positive      -51.66      0

In [18]:
# Binary encoding Sentiment column
DRL_trend = DRL_df[["VWAP", "Volume", 'Count', "Sentiment", "Trend"]]
DRL_trend = pd.get_dummies(DRL_trend, columns=["Sentiment"])
DRL_trend.head()

,VWAP,Volume,Count,Trend,Sentiment_Negative,Sentiment_Neutral,Sentiment_Positive
Date,,,,,,,
2021-07-13,5464.94,370482,3,0,0,0,1
2021-07-15,5398.76,303682,3,0,0,0,1
2021-07-16,5407.89,437904,1,1,1,0,0
2021-07-19,5414.77,240858,2,1,0,0,1
2021-07-20,5363.11,264428,4,0,0,0,1

In [19]:
# Defining features set
X = DRL_trend.copy()
X.drop("Trend", axis=1, inplace=True)
X.head()

,VWAP,Volume,Count,Sentiment_Negative,Sentiment_Neutral,Sentiment_Positive
Date,,,,,,
2021-07-13,5464.94,370482,3,0,0,1
2021-07-15,5398.76,303682,3,0,0,1
2021-07-16,5407.89,437904,1,1,0,0
2021-07-19,5414.77,240858,2,0,0,1
2021-07-20,5363.11,264428,4,0,0,1

In [20]:
# Defining target vector
y = DRL_trend["Trend"].values.reshape(-1, 1)
y[:5]

array([[0],
       [0],
       [1],
       [1],
       [0]])

In [21]:
# Splitting into Train and Test sets
split = int(0.7 * len(X))

X_train = X[: split]
X_test = X[split:]

y_train = y[: split]
y_test = y[split:]

In [22]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier

In [23]:
# Using StandardScaler to scale features data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [24]:
# Create RFClassifier model
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train_scaled, y_train.ravel())

In [25]:
# Make predictions
predictions = rf_model.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test.ravel()}).head(20)

# Generate accuracy score for predictions using y_test
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.575

In [26]:
# Model Evaluation

# Generating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)

          Predicted 0  Predicted 1
Actual 0           15            5
Actual 1           12            8

In [27]:
# Generating classification report
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       0.56      0.75      0.64        20
           1       0.62      0.40      0.48        20

    accuracy                           0.57        40
   macro avg       0.59      0.57      0.56        40
weighted avg       0.59      0.57      0.56        40